.tartalom{
    text-align: center;
    margin: 0 auto;
    border: 2px solid green;
    border-radius: 20px;
    padding: 30px;
    margin-top: 40px;
}

.todocss{
    text-decoration: underline;
}
.greenMarked{
    background-color: rgb(186, 216, 186);
    color: green;
}
.border-prio{
    border-left: 4px solid red;
}